# pandas의 기본 연산 - Series

In [1]:
import pandas as pd

In [2]:
# 딕셔너리 형태로 Series 만들기

a = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40, 'e' : 50}

In [3]:
a

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [4]:
b = pd.Series(a)

In [5]:
b

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [6]:
type(b)

pandas.core.series.Series

### Series 연산

In [7]:
c = b / 10

In [8]:
c  # b 시리즈의 모든 값을 10으로 나누기

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [9]:
c = b // 10

In [10]:
c  # 정수 나누기라 int로 저장된다.

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [12]:
type(c)

pandas.core.series.Series

In [13]:
d = b + c

In [14]:
d  # 동일 인덱스 값끼리 연산

a    11
b    22
c    33
d    44
e    55
dtype: int64

### 인덱스명이 일치해야만 연산이 가능한가? No

In [15]:
# 인덱스명이 일치해야만 연산이 가능한가? No

e = {'a' : 10, 'c' : 20, 'e' : 30, 'g' :40}

In [16]:
e

{'a': 10, 'c': 20, 'e': 30, 'g': 40}

In [17]:
f = pd.Series(e)

In [18]:
f

a    10
c    20
e    30
g    40
dtype: int64

In [19]:
# 인덱스가 불일치하는 경우의 연산

d + f  # 중복 인덱스 값 정상 연산, 비중복 인덱스 값 NaN

a    21.0
b     NaN
c    53.0
d     NaN
e    85.0
g     NaN
dtype: float64

In [20]:
d.add(f, fill_value = 0)  # NaN을 0으로 채워서 덧셈 연산

a    21.0
b    22.0
c    53.0
d    44.0
e    85.0
g    40.0
dtype: float64

In [21]:
d.sub(f, fill_value = 0)  # NaN을 0으로 채워서 뺼셈 연산

a     1.0
b    22.0
c    13.0
d    44.0
e    25.0
g   -40.0
dtype: float64

In [22]:
d.mul(f, fill_value = 0)

a     110.0
b       0.0
c     660.0
d       0.0
e    1650.0
g       0.0
dtype: float64

In [23]:
d * f

a     110.0
b       NaN
c     660.0
d       NaN
e    1650.0
g       NaN
dtype: float64

In [24]:
d.mul(f, fill_value = 1)  # 곱셈인 경우 NaN은 1로 설정해야 한다.

a     110.0
b      22.0
c     660.0
d      44.0
e    1650.0
g      40.0
dtype: float64

In [25]:
d.div(f, fill_value = 1)  # 나눗셈인 경우 NaN은 1로 설정해야 한다.

a     1.100000
b    22.000000
c     1.650000
d    44.000000
e     1.833333
g     0.025000
dtype: float64