# 학습용 데이터 다루기 1
- seaborn 모듈 사용

In [1]:
import warnings

In [3]:
warnings.filterwarnings('ignore')  # 경고 메시지 무시

In [6]:
import pandas as pd
import seaborn as sns

In [7]:
iris = sns.load_dataset('iris')  # iris는 pd.DataFrame 형태

### 데이터 살피기

In [8]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [10]:
iris.tail()  # 끝부터 보기

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [11]:
type(iris)

pandas.core.frame.DataFrame

In [12]:
iris.info()  # 정수 인덱스 150개  # null 없음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [13]:
iris.shape

(150, 5)

In [15]:
iris.describe()  # 기본적인 통계 정보  # 수치 정보에 대한 것이므로 object 누락

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [16]:
iris.describe(include = 'all')  # 보여 줄 수 있는 모든 정보

        sepal_length  sepal_width  petal_length  petal_width     species
count     150.000000   150.000000    150.000000   150.000000         150
unique           NaN          NaN           NaN          NaN           3
top              NaN          NaN           NaN          NaN  versicolor
freq             NaN          NaN           NaN          NaN          50
mean        5.843333     3.057333      3.758000     1.199333         NaN
std         0.828066     0.435866      1.765298     0.762238         NaN
min         4.300000     2.000000      1.000000     0.100000         NaN
25%         5.100000     2.800000      1.600000     0.300000         NaN
50%         5.800000     3.000000      4.350000     1.300000         NaN
75%         6.400000     3.300000      5.100000     1.800000         NaN
max         7.900000     4.400000      6.900000     2.500000         NaN

### 데이터 세부 살피기

In [18]:
iris['species'].value_counts()  # 값의 수 세기

versicolor    50
virginica     50
setosa        50
Name: species, dtype: int64

In [19]:
iris.species.value_counts()  # 위와 동일

versicolor    50
virginica     50
setosa        50
Name: species, dtype: int64

In [20]:
iris.mean()  # 열별 평균

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [21]:
iris['sepal_length'].mean()  # 특정 열 평균

5.843333333333334

In [22]:
iris.sepal_length.mean()  # 위와 동일

5.843333333333334

In [23]:
iris.median()  # 중앙값

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [24]:
iris['sepal_length'].median()

5.8

In [25]:
iris.sepal_length.median()  # 위와 동일

5.8

In [26]:
iris.max()  # 최댓값

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [28]:
iris['sepal_length'].max()

7.9

In [29]:
iris.sepal_length.max()  # 위와 동일

7.9

In [30]:
iris.min()  # 최솟값

sepal_length       4.3
sepal_width        2.0
petal_length       1.0
petal_width        0.1
species         setosa
dtype: object

In [31]:
iris['sepal_length'].min()

4.3

In [32]:
iris.sepal_length.min()  # 위와 동일

4.3

In [33]:
# 상관계수

iris.corr()
# 어느 정도의 상관관계를 갖는가?
# 1에 가까울수록 정비례, -1에 가까울수록 반비례, 0에 가까워질수록 상관계수 X
# 꽃받침의 넓이(sepal_width) 부분은 대체로 상관계수가 낮다.

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [44]:
# sepal_width는 제외하고 상관계수를 뽑아 보자.

iris[['sepal_length', 'petal_length', 'petal_width']].corr()

              sepal_length  petal_length  petal_width
sepal_length      1.000000      0.871754     0.817941
petal_length      0.871754      1.000000     0.962865
petal_width       0.817941      0.962865     1.000000

In [45]:
# seaborn에서 제공하는 학습용 데이터셋 목록 보기

sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

### 상관계수 예시로 확인

In [40]:
# 예시로 상관계수 보기

a = [[1, 2, 3, 4], [2, 4, 6, 8], [10, 9, 8, 7], [20, 60, 30, 30]]
df = pd.DataFrame(a)
df

    0   1   2   3
0   1   2   3   4
1   2   4   6   8
2  10   9   8   7
3  20  60  30  30

In [41]:
df = df.T  # 전치
df

   0  1   2   3
0  1  2  10  20
1  2  4   9  60
2  3  6   8  30
3  4  8   7  30

In [42]:
df.corr()  # 비례 관계 확인 가능

              0             1             2             3
0  1.000000e+00  1.000000e+00 -1.000000e+00  5.296073e-17
1  1.000000e+00  1.000000e+00 -1.000000e+00  5.296073e-17
2 -1.000000e+00 -1.000000e+00  1.000000e+00 -5.296073e-17
3  5.296073e-17  5.296073e-17 -5.296073e-17  1.000000e+00